<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
        <authentication mode="Windows" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="IntegrationDoc.Esedo" behaviorConfiguration="IntegrationDoc_behavior">
        <endpoint address="" binding="webHttpBinding" contract="IntegrationDoc.IEsedo" behaviorConfiguration="web" ></endpoint>
        <endpoint address="/soap" binding="basicHttpBinding" contract="IntegrationDoc.IEsedo" name="BasicHttpBinding"/>
        <endpoint address="/soap1" binding="basicHttpBinding" contract="IntegrationDoc.IDict" name="BasicHttpBinding"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="getDocumentSoapBinding" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="ProcessorPortSoap11" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="DictionaryPortSoap11" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9194/IntegrationDoc/Esedo.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="DocReceiver.QGServiceServ" name="BasicHttpBinding" />
      <endpoint address="http://10.7.6.12:9191/ws" binding="basicHttpBinding"
        bindingConfiguration="ProcessorPortSoap11" contract="HedReference.ProcessorPort"
        name="ProcessorPortSoap11" />
      <endpoint address="http://10.7.6.12:9192/ws/document-sender"
        binding="basicHttpBinding" bindingConfiguration="getDocumentSoapBinding"
        contract="DocSender.DocumentPort" name="aPort" />
      <endpoint address="https://qujatgateway.kz/ensi-sync" binding="basicHttpBinding"
        bindingConfiguration="DictionaryPortSoap11" contract="NsiUpdate.DictionaryPort"
        name="DictionaryPortSoap11" />
    </client>
    <behaviors>
      
      <endpointBehaviors>
        <behavior name="web">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
           <webHttp/>
           <dispatcherSynchronization asynchronousSendEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="IntegrationDoc_behavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

<connectionStrings>
  
  <add name="Model12" connectionString="data source=ESEDO1\sqlexpress;initial catalog=dictionaries;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>
